.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;justify-content: center;

   
}
.special{
    color: rgb(111, 236, 117);
    background-color: rgb(22, 22, 22);
    font-weight: 300;
    text-align: center;
    padding: 10px 0px;
}

.known-item{

     font-size: 40px;
     color: rgb(255, 255, 255);
  
   margin: auto;
   cursor: pointer;
   padding: 10px 50px;
   text-align-last: center;
   font-family: 'Poppins', sans-serif;
   font-weight: 200;
}

.col-one:hover{
    color:chartreuse;
    
}

@media screen and (max-width: 609px) {
    .known-item {
       font-size: 20px;
       align-items: center;
     
    }
}
@media screen and (max-width: 465px) {
    .known-item {
       font-size: 85%;
       align-items: center;
     
    }
}